<template lang="pug">
    #CreateUser
        h1 CREATE USER
        form
            input#id(type="hidden" v-model="form._id")
            .form-field
                label Email
                input#email(v-model="form.email")
            .form-field
                label password
                input#password(type="password" v-model="form.password")
            button#save(type="button" @click="save") Submit
        p(v-text="message")
</template>
<script>
export default {
  data() {
    return {
      form: {
        _id:'',
        email: "",
        password: ""
      },
      message: ""
    };
  },
  methods: {
    async save() {
      let item = await this.$store.dispatch("createUser", this.form);
      this.form._id = item._id
      //this.message = "SAVED";
    }
  }
};
</script>
<style lang="scss" scoped>
</style>