<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Menu/>
  </div>
</template>

<script>
import Menu from '../components/Menu.vue'
export default {
  name: 'home',
  components: {
    Menu
  }
}
</script>
